
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-image: url('../../learning-activity/images/mar-del-plata.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    height: 100vh;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
}


nav {
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #023e8a;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.excursion-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.excursion-card {
    width: calc(50% - 20px);
    background-color: #fd9e02;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    gap: 20px;
}

.excursion-card h3 {
    color: #023e8a;
    margin-bottom: 10px;
}

.excursion-card p {
    color: #555;
    line-height: 1.6;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #023e8a;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #023e8a;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}
