body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

body {
    background-color: #f9f9f9;
}
header {
    background-color: #01497c;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
}

img {
    width: 150px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 50px;
}

nav {
    background-color: #01060a;
    margin: 0;
    max-width: 100%;
    margin-top: -20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1 1 25%;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #8B4513;
}

nav li {
    flex: 1 1 25%;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color: yellow;
}

@media (min-width: 640px) {
    nav ul li {
        flex: 1 1 auto;
    }
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    grid-column: span 2;
    border-bottom: solid black 2px;
}

.background {
    color: #fff;
    background-color: #01497c;
    border-radius: 20px;
    text-align: center;
}

.container {
    display: grid;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(233, 51, 51, 0.1);
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(233, 51, 51, 0.1);
}

.left-section,
.right-section {
    grid-row: auto;
}

footer {
    color: white;
    text-align: center;
    background-color: #01497c;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    height: 150px;
}

#lastModified {
    color: yellow;
}

@media (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 20px;
    }
    
    .card {
        grid-column: 1;
    }
}
